.log{
    height: 15px;
    margin:0;
}

.quantità:hover{
    color: rgb(244, 244, 113);
    background-color: rgb(153, 0, 153);
}

body, h1, .button{
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;  
    color: rgb(153, 0, 153);
    background-color: rgb(244, 244, 113);
}

body> header> h1{
    font-size: 120px;
    text-align: center;
    margin: 0;
}

body> nav{
    text-align: center;
}
main> a{
    margin-bottom: 5px;
}

main > p{
    margin-left: 15%;
    font-size: 13px;
}

body> nav> ul> li{
    width: 100px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    display: inline-block;
    background-color: rgb(153, 0, 153);
}

ul{
    list-style: none;
}

body> nav> ul> li> a{
    color: rgb(244, 244, 113);
    text-decoration: none;
}

img{
    height: 200px;
    margin-top: 30px
}

body> main> article{
    background-color: #fff;
    border: 1px solid rgb(153, 0, 153);
    margin: 40px 10% 40px 10%;
    text-align: center;
}

body> main> article> div{
    text-align: left;
    margin: 0 0 0 20px;
}

span{
    font-size: small;
}

.button{
    margin: 15px 0;
}

main> article> header> h2{
    font-size:25px;
}

main> article> h2{
    font-size: 22px;
}

main> h2{
    margin: 0 0 0 15%;
    font-size: 20px;
}
main> form{
    text-align: center;
}

form> ul> li{
    margin: 10px 0;
}

main> article> p{
    text-align: left;
    margin: 5px 0 0 10%;
    font-size: 11px;

}

main> article{
    background-color: #fff;
    border: 1px solid rgb(153, 0, 153);
    margin: 40px 10% 40px 10%;
    text-align: center;
    padding: 25px;
}

body> main > article > footer > a, .button, form> ul> li> a, main> article> ul> li> a{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background-color: rgb(153, 0, 153);
    color: rgb(244, 244, 113);
    padding: 5px 10px;
    font-size: 14px;
}

.inserisci{
    border-radius: 5px;
    text-decoration: none;
    text-align: right;
    margin-left: 45%;
    border: none;
    background-color: rgb(153, 0, 153);
    color: rgb(244, 244, 113);
    padding: 5px 10px;
    font-size: 13px;
}


form> div{
    margin: 15px 0;
}

.insert{
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background-color: rgb(153, 0, 153);
    color: rgb(244, 244, 113);
    padding: 5px 10px;
}

.logout{
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;  
    font-size: 12px;
    color: rgb(153, 0, 153);
    background-color: rgb(244, 244, 113);
    text-decoration: underline;
}

body> main > article > footer {
    padding: 20px 5% 5%;
    text-align: right;
    font-size: 12px;
}

input[type=text], input[type=password]{
    margin: 5px;
}

body> footer{
    padding: 20px;
    margin: 0;
    font-size: 13px;
    background-color: rgb(153, 0, 153);
    color: rgb(244, 244, 113);
    
}

body> footer> table{
    width: 100%;
}

main> form> ul> li> a{
    padding: 5px 10px;
    font-size: 13px;
}




@media screen and (min-width: 1024px){
    
    img{
        height: 300px;
        margin-top: 30px
    }

    body> header> h1{
        font-size: 150px;
    }

    body> nav> ul> li{
        width: 180px;
    }

    main> article> header> h2{
        font-size:25px;
    }

    main> h2{
        margin: 0 0 0 18%;
        font-size: 30px;
    }

    body> main> article> div{
        margin: 0 0 0 10%;
    }

    body> footer> table{
        width: 80%;
        text-align: center;
    }

    body> main > article > footer {
        font-size: 16px;
    }

    main> article> p{
        text-align: left;
        margin: 7px 0 0 20%;
        font-size: 15px;
    
    }

    main > p{
        margin-left: 15%;
        font-size: 15px;
    }
    .inserisci{
        margin-left: 80%;
        font-size: 15px;
    }

    .button{
        font-size: 20px;
    }

    main> form> ul> li> a{
        padding: 5px 10px;
        font-size: 20px;
    }

    body> main > article > footer > a{
        font-size:18px;
    }

}



